.form-control-sm {
  --bs-border-radius-sm: 0;
  color: var(--bs-body-color);
  &:focus {
    color: var(--bs-body-color);
    border-color: unset;
  }
}
.form-check-input:checked {
  background-color: rgba(var(--rgb-color-8),0.5);
  border-color: rgba(var(--rgb-color-8),0.5);
}
.form-section {
  .form-control:disabled,
  .form-select:disabled {
    background-color: rgba(var(--rgb-color-2),0.5);
  }
}
.userTS .minicolors {
  position: relative;
}
