.form-control-sm {
  --bs-border-radius-sm: 0;
  color: var(--bs-body-color);
  &:focus {
    color: var(--bs-body-color);
    border-color: unset;
  }
}
.form-check-input:checked {
  background-color: rgba(var(--rgb-color-8),0.5);
  border-color: rgba(var(--rgb-color-8),0.5);
}
