tr {
  &.active {
    --bs-table-active-bg: rgba(var(--rgb-color-2),0.75);
    --bs-table-bg: tranparent;
    &:hover {
      --bs-table-active-bg: rgba(var(--rgb-color-2),1);
      --bs-table-bg: tranparent;
    }
  }
}
.table-hover>tbody>tr:hover>* {
  --bs-table-bg-state: rgba(var(--rgb-color-2),1);
  --bs-table-active-bg: rgba(var(--rgb-color-2),1);
  --bs-table-bg: tranparent;
  color: var(--color-5);
}
