.dashboard-header {
  background-color: var(--color-4);
  color: var(--color-5);
}
.widget {
  background: var(--color-2);
  color: var(--color-5);
}
.widget-content-title {
  background: var(--color-2);
  color: var(--color-5);
}
.widget-table {
  color: var(--color-5);
}
.widget-table tr:nth-child(even) {
  background-color: var(--color-1);
}