.dashboard-modal-item-block {
  background: transparent;
  border: none;
  box-shadow: none;
}

.dashboard-modal-tabpanel {
  .tab-content {
    border-left: none;
    border-right: none;
  }
}

.module.module[data-module-name="dashboard"] {
  background-color: transparent;
}
.widget {
  color: var(--color-5);
  background-color: rgba(var(--rgb-color-2),1);
  .widget-t3information-logo {
    filter: contrast(0);
  }
}
