.extension-list {
  .inactive {
    opacity: 0.5;
  }

  .installed {

  }
}

.extension-list .installed td {
  .btn-default {
    background-color: transparent;
    border-color: transparent;
  }
}

#typo3-extension-list {
  .extension-icon {
    height: 24px;
    width: 24px;
  }
}

.table > tbody > tr {
  &:nth-of-type(odd) {
    background: rgba(var(--rgb-color-2),0.1);
  }

  &:hover {
    background: rgba(var(--rgb-color-2),0.5);
  }
  &.installed {
    background: rgba(var(--rgb-color-2),0.75);
    td {
      background-color: transparent;
    }
    &:hover {
      background: rgba(var(--rgb-color-2),1);
    }
  }
}
