.extension-list .inactive {
  background: var(--color-2)!important;
  opacity: 0.5;
}
.extension-list .installed td {
  background-color: var(--color-2);

  .btn-default {
    background-color: transparent;
    border-color: transparent;
  }
}