[id=ext-backend-Modules-FileSystemNavigationFrame-index-php] .list-tree li:last-child:before, [id=ext-backend-Modules-FileSystemNavigationFrame-index-php] .list-tree-control > .fa:before {
  background: transparent;
}

.list-tree li.active > .list-tree-group:before {
  background: var(--color-4);
  border: transparent;
}

.dropzone {
  color: var(--color-5);
}

.dropzone-hint-icon {
  background: var(--color-2);
}