.t3-form-x-component {
  background: $color-2;
}
#t3-form-inspector h4 {
  background-color: $color-4;
}
.t3-form-collection-element {
  background-color: $color-4;
}
.property-grid .table>tbody>tr {
  background-color: transparent;
}
.property-grid .table .btn {
  background-color: transparent;
  border-color: transparent;
}
#t3-form-structure-panel #t3-form-navigation-component-tree-root-container.t3-form-root-element-selected,
#t3-form-structure-panel #t3-form-navigation-component-tree-root-container.t3-form-root-element-selected:hover,
#t3-form-structure-panel .tree li>.t3-form-form-element-selected,
#t3-form-structure-panel .tree li>.t3-form-form-element-selected:hover {
  background-color: $color-4;
  border-color: transparent;
}

#t3-form-structure-panel #t3-form-navigation-component-tree-root-container:hover,
#t3-form-structure-panel .t3-form-form-element-selected,
#t3-form-structure-panel .t3-form-root-element-selected,
#t3-form-structure-panel .tree li>div:hover {
  background-color: $color-6;
  border-color: transparent;
}