.property-grid .table > tbody > tr {
  background-color: transparent;
}

.property-grid .table .btn {
  background-color: transparent;
  border-color: transparent;
}

#t3-form-structure-panel #t3-form-navigation-component-tree-root-container.t3-form-root-element-selected,
#t3-form-structure-panel #t3-form-navigation-component-tree-root-container.t3-form-root-element-selected:hover,
#t3-form-structure-panel .tree li > .t3-form-form-element-selected,
#t3-form-structure-panel .tree li > .t3-form-form-element-selected:hover {
  border-color: transparent;
}

#t3-form-structure-panel #t3-form-navigation-component-tree-root-container:hover,
#t3-form-structure-panel .t3-form-form-element-selected,
#t3-form-structure-panel .t3-form-root-element-selected,
#t3-form-structure-panel .tree li > div:hover {
  border-color: transparent;
}

.form-section {
  background-color: transparent;
}
