/*tools settings Feature Toggles*/
.card {
  background-color: transparent;
}

/*install-tool-modal phpinfo*/
.install-tool-modal #phpinfo table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  background: transparent;
}
