/*tools settings Feature Toggles*/
.card {
  background-color: transparent;
}

/*install-tool-modal phpinfo*/
.install-tool-modal #phpinfo table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  background: transparent;
}

.table>:not(caption)>*>* {
  --bs-table-color-type: var(--color-5);
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-color-type: var(--color-5);
}
