.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: rgb(0 0 0 / 0%);
}

.table-fit {
  border: none;
}

.table {

  tbody, tfoot, thead {
    > tr {
      &.success {
        > td, th {
          background: transparent;
        }
      }

      > td, th {
        &.success {
          background: transparent;
        }
      }
    }
  }

  .warning {
    background: rgb(193, 125, 0) !important;
  }

  .danger {
    background: rgb(156, 0, 0) !important;
  }

  .btn-default,
  .btn-default {
    &.focus,
    &:focus {
      background: transparent;
      border-color: transparent;
    }
  }
}
.note-list .note {
  --note-bg: var(--color-2);
  --note-color: var(--color-5);
  --note-header-color: var(--color-5);
  --note-header-bg: var(--color-4);
  --note-notice-header-bg: var(--color-4);
  border: 1px solid rgba(var(--rgb-color-5), 0.75);
}
