:root {
  --pagemodule-grid-spacing: 0.5rem;
}
.t3-page-ce {
  overflow: visible;
}
.t3-page-ce-dropzone {
  transition: 0.25s all;
  scale: 1;
  &.active {
    &.t3-page-ce-dropzone-possible {
      background-color: rgba(var(--rgb-color-8),0.5);
      scale: 1 1.3;
    }
  }
}

.draggable-dragging {
  opacity: 0.9;
}
