.svg-tree-element typo3-backend-form-selecttree-toolbar {
  background-color: transparent;
  padding: 0;
  border-bottom-color: var(--color-5);
}
.svg-tree-element {
  border-color: var(--color-5);
}
.svg-tree-wrapper path.link {
  stroke: var(--color-5);
  opacity: 0.25;
}
.node-toggle-icon {
  color: var(--color-5);
}
