.callout-danger {
  background-color: rgb(200 60 60);
  border-color: rgb(200 60 60);
}
.callout-info {
  --callout-color: var(--typo3-component-color);
  --callout-bg: var(--typo3-component-bg);
  --callout-border-color: var(--typo3-component-border-color);
}
.tooltip-inner {
  color: var(--color-5);
}
