#ConfigurationView {
  .list-tree {
    li {
      border-bottom: 1px solid #F5F5F517;

      .list-tree-group {
        display: flex;
        align-items: flex-start;

        .list-tree-label {
          flex: 1 1 25%;
          display: inline-block;
          padding-right: 10px;
        }

        .list-tree-value {
          display: block;
          padding-left: 10px;
          flex: 1 1 75%;
          font-weight: normal;
          white-space: pre;
          overflow: auto;
          max-height: 500px;
          resize: vertical;

          &::-webkit-resizer {
            background-image: linear-gradient(-45deg, white 20%, transparent 20%);
          }
        }
      }
    }
  }
}