.treelist {
  --treelist-bg: transparent;
  &:before, ul:before {
    opacity: 0.2;
    bottom: calc(var(--treelist-item-line-height)/ 5);
  }
  &:before {
    top: var(--treelist-indentation);
  }
  &-label {
    flex: 1 1 25%;
    display: inline-block;
    padding-right: 10px;
  }
  &-group {
    display: flex;
    align-items: flex-start;
  }
  &-value {
    display: block;
    padding-left: 10px;
    flex: 1 1 75%;
    font-weight: normal;
    white-space: pre;
    overflow: auto;
    max-height: 500px;
    resize: vertical;

    &::-webkit-resizer {
      background-image: linear-gradient(-45deg, white 20%, transparent 20%);
    }
  }
  li {
    border-bottom: 1px solid #F5F5F517;
    &:before {
      display: none;
    }
  }
}
