.context-menu .list-group {
  background-color: var(--color-4);
}
.list-group-item {
  background-color: var(--color-4);
  color: var(--color-5);
}
a.list-group-item,
button.list-group-item {
  color: var(--color-5);
  &:focus,
  &:hover,
  &:focus,
  &:hover {
    color: var(--color-5);
    background-color: var(--color-2);
  }
}