.nav-tabs {
  background-color: transparent;

  > li {

    > a:hover {
      color: white;
    }
  }
}

.help-teaser {
  margin-right: 5px;
}

select.form-control:not([multiple][size]):not(.form-select-no-siblings),
select.form-control:not([size]):not(.form-select-no-siblings),
select.form-control[size="1"]:not(.form-select-no-siblings) {
  //background-image: url("/typo3conf/ext/skins/Resources/Public/Backend/Style/Skin/Dark/Icons/actions-chevron-down.svg");
  width: 100%;
}

code {
  padding: 0;
  font-size: 100%;
  background-color: rgb(0 0 0 / 0%);
  border-radius: 0;
}

.icon-list {
  margin-top: 9px;
  border: none;

  img {
    width: 16px;
    height: auto;
  }
}
