// forms
input {
  border: none;
}
.input-group-addon, .input-group-text {
  color: rgba(var(--rgb-color-5),0.5);
}

select {
  border: none;

  optgroup {
    font-weight: 700;
  }
}

.form-section {
  border: none;
  padding: 15px 12px 3px;

  & + .form-section {
    margin-top: 0;
  }
}
.input-group-addon, .input-group-text {
  background-color: transparent;
}

.form-control, .form-select {
  background: transparent;
  color: var(--color-5);
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.form-select {
  background-image: url("/typo3conf/ext/skins/Resources/Public/Backend/Style/Skin/Dark/Icons/actions-chevron-down.svg");
  background-color: transparent;
  color: var(--color-5);
  background-repeat: no-repeat;
  background-position: right;
  option {
    background-color: var(--color-2);
  }
}

.input-group-addon {
  border: none;
}

input[type=submit] {
  border: 1px solid;
}

.form-inline-spaced {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

// list pagination
body {
  .pagination {
    > .disabled {
      > a,
      > a:focus,
      > a:hover,
      > span,
      > span:focus,
      > span:hover {
        cursor: not-allowed;
        border-color: transparent;
      }
    }

    > li {
      > span, > a {
        border: transparent;

        &:focus,
        &:hover,
        &:focus,
        &:hover {
          border: transparent;
        }
      }
    }
  }
}
.recordlist {
  box-shadow: none;
  background: transparent;
}
