// forms
input {
  border: none;
}
select {
  border: none;
  option {
    color: var(--color-5);
    &:hover {
      background: var(--color-8);
      color: var(--color-2);
    }
  }
  optgroup {
    font-weight: 700;
    color: var(--color-8);
    option {
      color: var(--color-5);
    }
  }
}

.form-section {
  border: none;
  border-bottom: 1px solid var(--color-6);
  background-color: var(--color-4);
  padding: 15px 12px 3px;
  &+.form-section {
    margin-top: 0;
  }
}
.form-control {
  background-color: var(--color-2) !important;
  color: var(--color-5);
  border: 1px solid var(--color-6);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: var(--color-1) !important;
}
.has-change .input-group-addon,
.input-group-btn {
  background-color: var(--color-2);
}
.input-group-addon {
  background: var(--color-2);
  color: var(--color-5);
  border: none;
}
input[type=submit] {
  border: 1px solid;
  color: var(--color-5);
}
.form-inline-spaced {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

// list pagination
body {
  .pagination {
    >.disabled {
      >a,
      >a:focus,
      >a:hover,
      >span,
      >span:focus,
      >span:hover {
        color: var(--color-5);
        cursor: not-allowed;
        background-color: var(--color-2);
        border-color: transparent;
      }
    }
    >li {
      >span,>a {
        background-color: var(--color-4);
        color: var(--color-5);
        border: transparent;
      }
      &.disabled {
        background-color: var(--color-4);
      }
    }
  }
}
