// module
.module {
  background-color: var(--color-4);
}

.module-body {
  background-color: var(--color-4);
  color: var(--color-5);
}

.module-docheader {
  background-color: var(--color-4);
  color: var(--color-5);
  border-bottom: 1px solid rgb(245 245 245 / 30%);
}