// module
.module {
  background-color: $color-4;
}
.module-body {
  background-color: $color-4;
  color: $color-5;
}
.module-docheader {
  background-color: $color-4;
  color: $color-5;
  border-bottom: 1px solid transparent;
}