.svg-tree-wrapper {
  overflow-y: auto;

  .node-selected {
    fill: transparent;
  }

  .nodes-wrapper--dragging {
    .node-over {
      fill: transparent !important;
    }
  }

  .node-over:not(.node-selected) {
    fill: transparent;
  }
}
#typo3-pagetree {
  .nodes-container {
    --tree-bg: --color-2;
    --tree-node-bg: --color-2;
  }
}

.scaffold-content-navigation-component .navigation-tree-container,
[id=ext-backend-Modules-FileSystemNavigationFrame-index-php],
[id=ext-backend-Modules-FileSystemNavigationFrame-index-php] .module-body,
[id=typo3-pagetree-treeContainer] {
  border-right: none;
}

.scaffold-content-navigation-component .navigation-tree-container {
  background-color: var(--color-2);
}
.tree-toolbar {
  input[type='search'] {
    background: transparent;
  }
}

.scaffold-content-navigation-available .scaffold-content-navigation-switcher {
  background: var(--module-docheader-bg);
}
