.svg-toolbar {
  .svg-toolbar__drag-node {
    border: 1px solid transparent;
  }
}

.scaffold-topbar {
  background-color: rgb(21 21 21);
}

.dropdown-menu a:not([class]) {
  --typo3-component-link-color: var(--color-8);
}
