/*MASK BACKEND*/
.mask-footer {
  background-color: transparent;
}

.mask-sidebar__toggle {
  background-color: var(--color-2) !important;
  border-color: var(--color-1);

  &:hover {
    background-color: var(--color-4) !important;
  }

  &.active {
    background-color: var(--color-4) !important;
  }
}

.mask-sidebar__background {
  background-color: var(--color-4);
  border-color: var(--color-1);
}

.mask-field-list {
  background-color: var(--color-1);

  .mask-field__body {
    background-color: var(--color-2);
  }
}

.mask-field.active > .mask-field__row .mask-field__body, .mask-field:hover > .mask-field__row .mask-field__body {
  background-color: var(--color-6);
}

.mask-elements__column, .mask-fields, .mask-field-form {
  background-color: var(--color-4);
}

.mask-field-form {
  .text-muted {
    color: var(--color-5) !important;
  }
}

.mask-elements__table tr {
  color: var(--color-5);
}

.mask-elements__header {
  background-color: var(--color-2);
}

.mask-field-group__list {
  background-color: var(--color-1);
  border-color: var(--color-5);
  color: var(--color-5);
}

.mask-field-group {
  .mask-field-group__label {
    color: var(--color-5);

    &:hover {
      color: var(--color-5);
    }
  }
}

.mask-field-group:hover .mask-field-group__label {
  color: var(--color-5);
}

.mask-splashscreen {
  background-color: var(--color-2);
  color: var(--color-5);

  .mask-splashscreen__label {
    text-align: center;
  }
}

/*Icon menu*/
.icons-selector.fip-grey {
  .fip-icons-container {
    background-color: var(--color-2);
    border-color: var(--color-1);
  }

  .selector-category select, .selector-search input[type=text] {
    background-color: var(--color-2);
    border-color: var(--color-1);
    color: var(--color-5);
  }

  .selector-category select, .selector-search input[type=text] {
    border-color: var(--color-1);
    color: var(--color-5);
    background-color: var(--color-2);
  }

  .selector-button:hover {
    background-color: var(--color-6);
  }

  .selector-popup {
    border: var(--color-1);
    background-color: var(--color-2);
  }

  .selector-button {
    background-color: var(--color-1);
    border-left-color: var(--color-1);

    i {
      color: var(--color-5);
    }
  }

  .selected-icon {
    background-color: var(--color-2);
    color: var(--color-5);

    i {
      color: var(--color-5);
    }
  }

  .fip-box {
    &:hover {
      background-color: var(--color-6);
    }

    i {
      color: var(--color-5);
    }
  }

  .selector-footer, .selector-footer i {
    color: var(--color-5);

    &:hover {
      color: var(--color-5);
    }
  }
}
