.mask-elements__header {
  background: transparent;
}

.mask-elements__column {
  background: transparent;
}

.mask-sidebar__background {
  background: transparent;
  border: 1px solid rgba(var(--rgb-color-5), 0.25);
}

.mask-field-group__list {
  background-color: transparent;
}

.mask-sidebar__toggle {
  background-color: rgba(var(--rgb-color-2), 1);

  &:hover {
    background-color: rgba(var(--rgb-color-2), 0.5);
  }

  &.active {
    background-color: rgba(var(--rgb-color-2), 0);
  }
}

.mask-field-group:hover .mask-field-group__label {
  color: rgba(var(--rgb-color-5), 0.25);
}

.mask-fields {
  background: transparent;
  border: 1px solid rgba(var(--rgb-color-5), 0.25);

  .mask-field-list {
    background: transparent;
    border: 1px solid rgba(var(--rgb-color-5), 0.25);
  }

  .mask-field__body {
    background: transparent;
    border: 1px solid rgba(var(--rgb-color-5), 0.25);
  }
}

.mask-field-form {
  background: transparent;
  border: 1px solid rgba(var(--rgb-color-5), 0.25);
}

.mask-field.active > .mask-field__row .mask-field__body, .mask-field:hover > .mask-field__row .mask-field__body {
  background: rgba(var(--rgb-color-2), 0.25);
}

.mask-footer {
  background: transparent;
}

.mask-footer a:not(.btn):hover, .mask-footer a:not(.btn):focus {
  color: var(--color-8);
}
