.btn {
  &:hover,
  &:focus,
  &.focus {
    color: var(--color-5);
  }
  &-default {
    color: var(--color-5);
    border-color: var(--color-6);
    background: transparent;
    &.focus,
    &:focus,
    &:hover {
      border-color: var(--color-5);
      background-color: var(--color-2);
      color: var(--color-5);
    }
  }
  &-notice {
    background: var(--color-2);
  }
  &-link {
    color: var(--color-5);
    &:focus,
    &:hover {
      color: var(--color-5);
    }
  }
}
.table .btn-default {
  color: var(--color-5);
  background-color: var(--color-4);
  border-color: var(--color-4);
}
.btn-default.active:hover,
.btn-default:active:hover,
.open > .btn-default.dropdown-toggle:hover,
.btn-default:hover:hover {
  color: var(--color-5);
}
.icon-spinner-circle-dark {
  svg {
    filter: invert(1);
  }
}