.btn-default {
  color: white;
  border-color: $color-6;
  background: transparent;
  &.focus,
  &:focus,
  &:hover {
    border-color: $color-5;
    background-color: $color-2;
    color: $color-5;
  }
}
.table .btn-default {
  color: $color-5;
  background-color: $color-4;
  border-color: $color-4;
}
.btn-default.active:hover,
.btn-default:active:hover,
.open > .btn-default.dropdown-toggle:hover,
.btn-default:hover:hover {
  color: $color-5;
}
.btn-link {
  color: $color-5;
  &:focus,
  &:hover {
    color: $color-5;
  }
}