:root {
  --color-1: rgb(21, 21,21);
  --color-2: rgb(41, 41, 41);
  --color-4: rgb(60, 63, 65);
  --color-5: rgb(245, 245, 245);
  --color-6: rgba(245, 245, 245, 0.3);
  --color-7: rgb(31, 31, 31);
  --color-8: rgb(253, 195, 0);
}