body {
  color: $color-5;
  background-color: $color-4;
}
.panel-body {
  border-bottom: 1px solid $color-5;
}
.text-muted {
  color: rgb(245, 245, 245);
  font-size: 95%;
}
.scaffold-modulemenu {
  background-color: $color-7;
}
.scaffold-content-navigation-expanded .topbar-button-navigationcomponent,
.scaffold-modulemenu-expanded .topbar-button.topbar-button-modulemenu {
  background-color: $color-7;
}
a:focus, a:hover {
  color: $color-5;
}