/**
default
 */
:root {
  --color-1: rgb(21, 21,21);
  --color-2: rgb(41, 41, 41);
  --color-4: rgb(60, 63, 65);
  --color-5: rgb(245, 245, 245);
  --color-6: rgba(245, 245, 245, 0.3);
  --color-7: rgb(31, 31, 31);
  --color-8: rgb(253, 195, 0);
}

.btn-default {
  color: var(--color-5);
  border-color: var(--color-6);
  background: transparent;
}
.btn-default.focus, .btn-default:focus, .btn-default:hover {
  border-color: var(--color-5);
  background-color: var(--color-2);
  color: var(--color-5);
}

.table .btn-default {
  color: var(--color-5);
  background-color: var(--color-4);
  border-color: var(--color-4);
}

.btn-default.active:hover,
.btn-default:active:hover,
.open > .btn-default.dropdown-toggle:hover,
.btn-default:hover:hover {
  color: var(--color-5);
}

.btn-link {
  color: var(--color-5);
}
.btn-link:focus, .btn-link:hover {
  color: var(--color-5);
}

.btn:hover, .btn:focus, .btn.focus,
.btn:hover,
.btn:focus,
.btn.focus,
.btn:hover,
.btn:focus,
.btn.focus {
  color: var(--color-5);
}

.icon-color {
  fill: var(--color-5);
}

body {
  color: var(--color-5);
  background-color: var(--color-4);
}

.panel-body {
  border-bottom: 1px solid var(--color-5);
}

.text-muted {
  color: whitesmoke;
  font-size: 95%;
}

.scaffold-modulemenu {
  background-color: var(--color-7);
}

.scaffold-content-navigation-expanded .topbar-button-navigationcomponent,
.scaffold-modulemenu-expanded .topbar-button.topbar-button-modulemenu {
  background-color: var(--color-7);
}

a:focus, a:hover {
  color: var(--color-5);
}

.popover-title {
  background: transparent;
  border-bottom: 1px solid var(--color-5);
}

.popover {
  background: var(--color-2);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.popover.top > .arrow:after {
  border-top-color: var(--color-2);
}

h1 {
  display: block;
  width: 100%;
}

/**
extensions
 */
.c3template-be-table table tr td {
  border: 1px solid var(--color-5);
}

.c3template-be-table table caption {
  caption-side: bottom;
  color: var(--color-5);
}

.powermail_listbe_details_container:hover .powermail_listbe_details_dl {
  background-color: transparent;
}

.lux .btn-primary {
  background-color: var(--color-2);
  border-color: var(--color-6);
  color: var(--color-5);
}
.lux .btn-primary:hover {
  background-color: var(--color-8);
  border-color: var(--color-5);
  color: var(--color-1);
}
.lux .input-group-addon {
  background: transparent;
}
.lux .panel-body {
  border-bottom: none;
}
.lux .form-control {
  background-color: var(--color-2) !important;
  color: var(--color-5);
  border: 1px solid var(--color-6);
}
.lux input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: var(--color-5);
  outline: none;
  opacity: 1;
}
.lux input[type=range]:hover {
  opacity: 1;
}
.lux input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--color-5);
  cursor: pointer;
}
.lux input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--color-5);
  cursor: pointer;
}
.lux #scoring_label {
  width: 3ch;
  display: inline-block;
}

/**
general
 */
.callout-danger {
  background-color: #c83c3c;
  border-color: #c83c3c;
  color: var(--color-5);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 0;
}

::-webkit-scrollbar-track-piece {
  /* 4 */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background: transparent;
}

::-webkit-scrollbar-corner {
  /* 6 */
}

::-webkit-resizer {
  /* 7 */
}

body:hover ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: var(--color-8);
}

/**
modules
 */
#beuser-main-content .form-control-clearable {
  display: block;
}

.cke_top {
  background-color: var(--color-2) !important;
  border-bottom-color: #c8c8c8;
}

body a.cke_dialog_close_button,
body .cke_ltr .cke_dialog_close_button {
  background-image: url("/typo3conf/ext/skins/Resources/Public/Backend/Style/Skin/Dark/Icons/close.svg");
  height: 30px;
  width: 30px;
  top: 0;
  right: 0;
}
body a.cke_dialog_ui_button {
  background: transparent;
}
body a.cke_dialog_ui_button:hover {
  background: var(--color-8);
}
body .cke_dialog .cke_dialog_tab,
body .cke_dialog .cke_dialog_tab_selected {
  background: transparent;
}
body .cke_dialog .cke_dialog_tab:hover,
body .cke_dialog .cke_dialog_tab_selected:hover {
  background: var(--color-8);
}
body .cke_dialog .cke_dialog_footer {
  background-color: var(--color-4);
}
body .cke_dialog .cke_dialog_contents {
  background-color: var(--color-4);
}
body .cke_dialog .cke_dialog_body {
  background-color: var(--color-4);
  border: none;
}
body .cke_dialog .cke_dialog_body .cke_dialog_title {
  background-color: var(--color-4);
  border: none;
}
body .cke_combo_arrow {
  border-top: 3px solid var(--color-5);
}
body .cke_reset_all,
body .cke_reset_all *,
body .cke_reset_all a,
body .cke_reset_all textarea,
body .cke_button_label {
  color: var(--color-5);
}
body .cke_button_icon,
body .cke_ltr .cke_button__anchor_icon,
body .cke_ltr .cke_button__cut_icon,
body .cke_ltr .cke_button__paste_icon,
body .cke_ltr .cke_button__pastetext_icon,
body .cke_ltr .cke_button__pastefromword_icon,
body .cke_ltr .cke_button__undo_icon,
body .cke_ltr .cke_button__redo_icon,
body .cke_ltr .cke_button__numberedlist_icon,
body .cke_ltr .cke_button__bulletedlist_icon,
body .cke_ltr .cke_button__outdent_icon,
body .cke_ltr .cke_button__indent_icon,
body .cke_ltr .cke_button__find_icon,
body .cke_ltr .cke_button__source_icon {
  background-image: url(/typo3conf/ext/skins/Resources/Public/Backend/Style/Skin/Dark/Icons/ckeditor-icons.png) !important;
}
body .cke_button__softhyphen_icon {
  background-image: url(/typo3conf/ext/skins/Resources/Public/Backend/Style/Skin/Dark/Icons/hyphens.png) !important;
}
body .cke_combo_text {
  color: var(--color-5);
}
body a.cke_button_off:hover,
body a.cke_button_off:focus,
body a.cke_button_off:active,
body a.cke_combo_button:hover,
body a.cke_combo_button:focus,
body a.cke_combo_button:focus,
body .cke_combo_on a.cke_combo_button {
  background-color: var(--color-4) !important;
  border-color: transparent;
}
body .cke_button_on {
  background-color: var(--color-8) !important;
  border-color: transparent;
}
body textarea.cke_source {
  color: var(--color-2);
}

.list-tree-control > .fa:before {
  background: transparent;
}

.dashboard-header {
  background-color: var(--color-4);
  color: var(--color-5);
}

.dashboard-modal-item-block {
  background: transparent;
  border: none;
  box-shadow: none;
}

.dashboard-modal-tabpanel .tab-content {
  border-left: none;
  border-right: none;
}

.widget {
  background: var(--color-2);
  color: var(--color-5);
}

.widget-content-title {
  background: var(--color-2);
  color: var(--color-5);
}

.widget-table {
  color: var(--color-5);
}

.widget-table tr:nth-child(even) {
  background-color: var(--color-1);
}

.extension-list .inactive {
  background: var(--color-2) !important;
  opacity: 0.5;
}

.extension-list .installed td {
  background-color: var(--color-2);
}
.extension-list .installed td .btn-default {
  background-color: transparent;
  border-color: transparent;
}

#typo3-extension-list .extension-icon {
  height: 24px;
  width: 24px;
}

[id=ext-backend-Modules-FileSystemNavigationFrame-index-php] .list-tree li:last-child:before, [id=ext-backend-Modules-FileSystemNavigationFrame-index-php] .list-tree-control > .fa:before {
  background: transparent;
}

.list-tree li.active > .list-tree-group:before {
  background: var(--color-4);
  border: transparent;
}

.dropzone {
  color: var(--color-5);
}

.dropzone-hint-icon {
  background: var(--color-2);
}

.t3-form-x-component {
  background: var(--color-2);
}

#t3-form-inspector h4 {
  background-color: var(--color-4);
}

.t3-form-collection-element {
  background-color: var(--color-4);
}

.property-grid .table > tbody > tr {
  background-color: transparent;
}

.property-grid .table .btn {
  background-color: transparent;
  border-color: transparent;
}

#t3-form-structure-panel #t3-form-navigation-component-tree-root-container.t3-form-root-element-selected,
#t3-form-structure-panel #t3-form-navigation-component-tree-root-container.t3-form-root-element-selected:hover,
#t3-form-structure-panel .tree li > .t3-form-form-element-selected,
#t3-form-structure-panel .tree li > .t3-form-form-element-selected:hover {
  background-color: var(--color-4);
  border-color: transparent;
}

#t3-form-structure-panel #t3-form-navigation-component-tree-root-container:hover,
#t3-form-structure-panel .t3-form-form-element-selected,
#t3-form-structure-panel .t3-form-root-element-selected,
#t3-form-structure-panel .tree li > div:hover {
  background-color: var(--color-6);
  border-color: transparent;
}

body .install-tool-modal .panel-flat.panel-default > .panel-heading,
body .install-tool-modal .panel-rst.panel-default > .panel-heading,
body .install-tool-modal .panel-version.panel-default > .panel-heading {
  background: var(--color-4);
  color: var(--color-5);
}

.panel-default > .panel-heading {
  background-color: var(--color-2);
  border-color: var(--color-6);
  color: var(--color-5);
}

.panel-hover .panel-default:hover > .panel-heading {
  background-color: var(--color-2);
}

.table > thead > tr {
  background: var(--color-4);
  color: var(--color-5);
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: var(--color-4);
  color: var(--color-5);
}
.table-striped > tbody > tr:nth-of-type(odd):hover {
  background: var(--color-2);
}
.table-striped > tbody > tr:nth-of-type(odd):hover td, .table-striped > tbody > tr:nth-of-type(odd):hover th {
  background: var(--color-2);
}

.table-striped > tbody > tr:nth-of-type(even) {
  background: var(--color-4);
  color: var(--color-5);
}
.table-striped > tbody > tr:nth-of-type(even):hover {
  background: var(--color-2);
}
.table-striped > tbody > tr:nth-of-type(even):hover td, .table-striped > tbody > tr:nth-of-type(even):hover th {
  background: var(--color-2);
}

.table-fit {
  border: none;
}

.table {
  background: var(--color-4);
}
.table tbody > tr.success > td, .table tbody > tr.success th, .table tfoot > tr.success > td, .table tfoot > tr.success th, .table thead > tr.success > td, .table thead > tr.success th {
  background: transparent;
}
.table tbody > tr.success > td:hover, .table tbody > tr.success th:hover, .table tfoot > tr.success > td:hover, .table tfoot > tr.success th:hover, .table thead > tr.success > td:hover, .table thead > tr.success th:hover {
  background: var(--color-2);
}
.table tbody > tr > td.success, .table tbody > tr th.success, .table tfoot > tr > td.success, .table tfoot > tr th.success, .table thead > tr > td.success, .table thead > tr th.success {
  background: transparent;
}
.table tbody > tr > td.success:hover, .table tbody > tr th.success:hover, .table tfoot > tr > td.success:hover, .table tfoot > tr th.success:hover, .table thead > tr > td.success:hover, .table thead > tr th.success:hover {
  background: var(--color-2);
}
.table .warning {
  background: #c17d00 !important;
}
.table .danger {
  background: #9c0000 !important;
}
.table .info {
  background: var(--color-8) !important;
  color: var(--color-1) !important;
}
.table .btn-default.focus, .table .btn-default:focus,
.table .btn-default.focus,
.table .btn-default:focus {
  color: var(--color-5);
  background: transparent;
  border-color: transparent;
}

.table-hover > tbody > tr:hover {
  background: var(--color-2);
}

/**
views
 */
.callout-info {
  background: var(--color-2);
  color: var(--color-5);
}

#ConfigurationView .list-tree li {
  border-bottom: 1px solid #f5f5f517;
}
#ConfigurationView .list-tree li .list-tree-group {
  display: flex;
  align-items: flex-start;
}
#ConfigurationView .list-tree li .list-tree-group .list-tree-label {
  flex: 1 1 25%;
  display: inline-block;
  padding-right: 10px;
}
#ConfigurationView .list-tree li .list-tree-group .list-tree-value {
  display: block;
  padding-left: 10px;
  flex: 1 1 75%;
  font-weight: normal;
  white-space: pre;
  overflow: auto;
  max-height: 500px;
  resize: vertical;
}
#ConfigurationView .list-tree li .list-tree-group .list-tree-value::-webkit-resizer {
  background-image: linear-gradient(-45deg, white 20%, transparent 20%);
}

.context-menu .list-group {
  background-color: var(--color-4);
}

.list-group-item {
  background-color: var(--color-4);
  color: var(--color-5);
}

a.list-group-item,
button.list-group-item {
  color: var(--color-5);
}
a.list-group-item:focus, a.list-group-item:hover, a.list-group-item:focus, a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
  color: var(--color-5);
  background-color: var(--color-2);
}

.nav-tabs {
  background-color: transparent;
}
.nav-tabs > li.has-validation-error.active > a {
  background-color: var(--color-6);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: 1px solid var(--color-6);
  border-bottom-color: var(--color-4);
  background-color: var(--color-4);
  color: var(--color-5);
}
.nav-tabs > li > a:hover {
  background-color: var(--color-4);
  color: white;
}

.tab-content {
  border-left: 1px solid var(--color-6);
  border-right: 1px solid var(--color-6);
}

.help-teaser {
  margin-right: 5px;
}

select.form-control:not([multiple][size]):not(.form-select-no-siblings),
select.form-control:not([size]):not(.form-select-no-siblings),
select.form-control[size="1"]:not(.form-select-no-siblings) {
  background-image: url("/typo3conf/ext/skins/Resources/Public/Backend/Style/Skin/Dark/Icons/actions-chevron-down.svg");
  width: 100%;
  border: 1px solid var(--color-6);
}

.help-block {
  color: var(--color-5);
}

code {
  padding: 0;
  font-size: 100%;
  color: var(--color-8);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

.icon-list {
  background: var(--color-4);
  margin-top: 9px;
  border: none;
}
.icon-list .active {
  background-color: var(--color-8);
}
.icon-list img {
  width: 16px;
  height: auto;
}

input {
  border: none;
}

select {
  border: none;
}
select option {
  color: var(--color-5);
}
select optgroup {
  font-weight: 700;
  color: var(--color-8);
}
select optgroup option {
  color: var(--color-5);
}

.form-section {
  border: none;
  border-bottom: 1px solid var(--color-6);
  background-color: var(--color-4);
  padding: 15px 12px 3px;
}
.form-section + .form-section {
  margin-top: 0;
}

.form-control {
  background-color: var(--color-2) !important;
  color: var(--color-5);
  border: 1px solid var(--color-6);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: var(--color-1) !important;
}

.has-change .input-group-addon,
.input-group-btn {
  background-color: var(--color-2);
}

.input-group-addon {
  background: var(--color-2);
  color: var(--color-5);
  border: none;
}

input[type=submit] {
  border: 1px solid;
  color: var(--color-5);
}

.form-inline-spaced {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

body .pagination > .disabled > a,
body .pagination > .disabled > a:focus,
body .pagination > .disabled > a:hover,
body .pagination > .disabled > span,
body .pagination > .disabled > span:focus,
body .pagination > .disabled > span:hover {
  color: var(--color-5);
  cursor: not-allowed;
  background-color: var(--color-2);
  border-color: transparent;
}
body .pagination > li > span, body .pagination > li > a {
  background-color: var(--color-4);
  color: var(--color-5);
  border: transparent;
}
body .pagination > li.disabled {
  background-color: var(--color-4);
}

.t3-grid-cell {
  background-color: var(--color-2);
  border-bottom: 1px solid var(--color-2);
  color: var(--color-5);
}

.t3-page-column-header {
  background-color: var(--color-2);
  border-bottom: 1px solid var(--color-4);
  color: var(--color-5);
}

.t3-page-ce .t3-page-ce-header {
  background: var(--color-2);
  border: 1px solid var(--color-4);
  color: var(--color-5);
  border-bottom: none;
  transition: none;
}
.t3-page-ce .t3-page-ce-body {
  background: var(--color-2);
  border: 1px solid var(--color-4);
  color: var(--color-5);
}
.t3-page-ce .t3-page-ce-footer {
  background: var(--color-2);
  color: var(--color-5);
}
.t3-page-ce:hover .t3-page-ce-header {
  background: initial;
}
.t3-page-ce:hover > div > .t3-page-ce-header,
.t3-page-ce:hover > div > .t3-page-ce-body {
  background: var(--color-4);
}

a {
  color: var(--color-5);
}
a:hover {
  color: var(--color-5);
}

body {
  background-color: var(--color-4);
}

.element-browser-attributes {
  background-color: var(--color-4);
}

.element-browser-body {
  background-color: var(--color-2);
}

.element-browser-main-sidebar .list-tree-control > .fa:before {
  background-color: rgba(0, 0, 0, 0);
}

.element-browser-main-sidebar .list-tree li:last-child:before {
  background-color: rgba(0, 0, 0, 0);
}

.modal-severity-notice .modal-header {
  background-color: var(--color-1);
  color: var(--color-5);
  border: none;
}

.modal-severity-warning .modal-header {
  background-color: var(--color-2);
  color: var(--color-5);
  border-bottom-color: var(--color-2);
}

.modal-content {
  background-color: var(--color-4);
  color: var(--color-5);
}

.list-tree li:last-child:before {
  background: rgba(0, 0, 0, 0);
}

.panel {
  background-color: var(--color-4);
}

.t3-new-content-element-wizard-window {
  background-color: var(--color-4);
}

.module {
  background-color: var(--color-4);
}

.module-body {
  background-color: var(--color-4);
  color: var(--color-5);
}

.module-docheader {
  background-color: var(--color-4);
  color: var(--color-5);
  border-bottom: 1px solid rgba(245, 245, 245, 0.3);
}

.svg-tree-wrapper {
  overflow-y: auto;
}
.svg-tree-wrapper .node-selected {
  fill: var(--color-4);
  stroke: var(--color-4);
}
.svg-tree-wrapper .nodes-wrapper--dragging .node-over {
  fill: var(--color-4) !important;
  stroke: var(--color-4);
}
.svg-tree-wrapper .node-over:not(.node-selected) {
  fill: var(--color-4);
  stroke: var(--color-4);
}

.btn-default.active,
.btn-default:active,
.open > .btn-default.dropdown-toggle,
.btn-default:hover {
  background-color: var(--color-4);
  color: var(--color-5);
}
.btn-default.active:hover,
.btn-default:active:hover,
.open > .btn-default.dropdown-toggle:hover,
.btn-default:hover:hover {
  background-color: var(--color-4);
  color: var(--color-5);
}

[id=ext-backend-Modules-FileSystemNavigationFrame-index-php],
[id=ext-backend-Modules-FileSystemNavigationFrame-index-php] .module-body,
[id=typo3-pagetree-treeContainer] {
  background-color: var(--color-2);
  border-right: none;
}

text.node-name {
  fill: var(--color-5);
}

path.chevron {
  fill: var(--color-5) !important;
}
path.chevron.expanded {
  fill: var(--color-5) !important;
}

#typo3-dblist-search .panel {
  background-color: var(--color-4);
}

.svg-toolbar {
  background-color: var(--color-2);
  border-bottom: 1px solid var(--color-4);
}
.svg-toolbar .svg-toolbar__drag-node {
  border: 1px solid transparent;
}
.svg-toolbar .svg-toolbar__drag-node:hover {
  border: 1px solid var(--color-5);
}

.scaffold-topbar {
  background-color: #151515;
}

/*# sourceMappingURL=style.css.map */
