/**
default
 */
.text-muted {
  color: rgb(245, 245, 245);
  font-size: 95%;
}

.popover-title {
  background: transparent;
}

h1 {
  display: block;
  width: 100%;
}

/**
elements
 */
.form-control-sm {
  --bs-border-radius-sm: 0;
  color: var(--bs-body-color);
}
.form-control-sm:focus {
  color: var(--bs-body-color);
  border-color: unset;
}

.form-check-input:checked {
  background-color: rgba(var(--rgb-color-8), 0.5);
  border-color: rgba(var(--rgb-color-8), 0.5);
}

.btn {
  transition: 0.15s all;
  scale: 1;
}
.btn-default {
  background: transparent;
  --bs-btn-border-color: rgba(var(--rgb-color-5),0.25);
}
.btn-default:hover {
  background: transparent;
  --bs-btn-border-color: rgba(var(--rgb-color-5),1);
}
.btn-primary {
  background: var(--color-8);
  border: 1px solid var(--color-8);
  color: var(--color-1);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: var(--color-8);
  border: 1px solid var(--color-8);
  color: var(--color-1);
}
.btn-link:hover {
  color: var(--color-5);
}
.btn-check:checked + .btn {
  background-color: rgba(var(--color-2), 0.25);
}
.btn-check + .btn:hover {
  background-color: rgba(var(--color-2), 0.5);
}
.btn:hover {
  --bs-btn-border-color: rgba(var(--rgb-color-5),1);
}
.btn:focus-visible {
  box-shadow: 0 0 0 3px rgba(var(--rgb-color-5), 0.25);
}

.table .btn-default {
  box-shadow: none;
}

.icon-spinner-circle-dark svg {
  filter: invert(1);
}

button {
  color: var(--color-5);
}

.preview-thumbnails-element-image {
  width: auto;
  height: auto;
  background: transparent;
}

tr.active {
  --bs-table-active-bg: rgba(var(--rgb-color-2),0.75);
  --bs-table-bg: tranparent;
}
tr.active:hover {
  --bs-table-active-bg: rgba(var(--rgb-color-2),1);
  --bs-table-bg: tranparent;
}

.table-hover > tbody > tr:hover > * {
  --bs-table-bg-state: rgba(var(--rgb-color-2),1);
  --bs-table-active-bg: rgba(var(--rgb-color-2),1);
  --bs-table-bg: tranparent;
  color: var(--color-5);
} /**
extensions
 */
.powermail_listbe_details_container:hover .powermail_listbe_details_dl {
  background-color: transparent;
}

.mask-elements__header {
  background: transparent;
}

.mask-elements__column {
  background: transparent;
}

.mask-sidebar__background {
  background: transparent;
  border: 1px solid rgba(var(--rgb-color-5), 0.25);
}

.mask-field-group__list {
  background-color: transparent;
}

.mask-sidebar__toggle {
  background-color: rgba(var(--rgb-color-2), 1);
}
.mask-sidebar__toggle:hover {
  background-color: rgba(var(--rgb-color-2), 0.5);
}
.mask-sidebar__toggle.active {
  background-color: rgba(var(--rgb-color-2), 0);
}

.mask-field-group:hover .mask-field-group__label {
  color: rgba(var(--rgb-color-5), 0.25);
}

.mask-fields {
  background: transparent;
  border: 1px solid rgba(var(--rgb-color-5), 0.25);
}
.mask-fields .mask-field-list {
  background: transparent;
  border: 1px solid rgba(var(--rgb-color-5), 0.25);
}
.mask-fields .mask-field__body {
  background: transparent;
  border: 1px solid rgba(var(--rgb-color-5), 0.25);
}

.mask-field-form {
  background: transparent;
  border: 1px solid rgba(var(--rgb-color-5), 0.25);
}

.mask-field.active > .mask-field__row .mask-field__body, .mask-field:hover > .mask-field__row .mask-field__body {
  background: rgba(var(--rgb-color-2), 0.25);
}

.mask-footer {
  background: transparent;
}

.mask-footer a:not(.btn):hover, .mask-footer a:not(.btn):focus {
  color: var(--color-8);
}

/**
general
 */
.callout-danger {
  background-color: rgb(200, 60, 60);
  border-color: rgb(200, 60, 60);
}

.callout-info {
  --callout-color: var(--typo3-component-color);
  --callout-bg: var(--typo3-component-bg);
  --callout-border-color: var(--typo3-component-border-color);
}

.tooltip-inner {
  color: var(--color-5);
}

.alert-notice {
  --bs-alert-color: var(--color-5);
  --bs-alert-bg: rgba(var(--rgb-color-4),0.5);
  --bs-alert-border-color: rgba(var(--rgb-color-7),0.5);
  --bs-alert-link-color: var(--color-8);
}

.pagination {
  --bs-pagination-hover-color: var(--color-8);
  --bs-pagination-hover-bg: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 0;
}

::-webkit-scrollbar-track-piece { /* 4 */ }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background: transparent;
}

::-webkit-scrollbar-corner { /* 6 */ }

::-webkit-resizer { /* 7 */ }

body:hover ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: var(--color-8);
}

/**
modules
 */
#beuser-main-content .form-control-clearable {
  display: block;
}

.cke_top {
  border-bottom-color: rgb(200, 200, 200);
}

body a.cke_dialog_close_button,
body .cke_ltr .cke_dialog_close_button {
  height: 30px;
  width: 30px;
  top: 0;
  right: 0;
}
body a.cke_dialog_ui_button {
  background: transparent;
}
body .cke_dialog .cke_dialog_tab,
body .cke_dialog .cke_dialog_tab_selected {
  background: transparent;
}
body .cke_dialog .cke_dialog_body {
  border: none;
}
body .cke_dialog .cke_dialog_body .cke_dialog_title {
  border: none;
}
body .cke_combo_arrow {
  border-top: 3px solid;
}
body a.cke_button_off:hover,
body a.cke_button_off:focus,
body a.cke_button_off:active,
body a.cke_combo_button:hover,
body a.cke_combo_button:focus,
body a.cke_combo_button:focus,
body .cke_combo_on a.cke_combo_button {
  border-color: transparent;
}
body .cke_button_on {
  border-color: transparent;
}

.list-tree-control > .fa:before {
  background: transparent;
}

.dashboard-modal-item-block {
  background: transparent;
  border: none;
  box-shadow: none;
}

.dashboard-modal-tabpanel .tab-content {
  border-left: none;
  border-right: none;
}

.module.module[data-module-name=dashboard] {
  background-color: transparent;
}

.widget {
  color: var(--color-5);
  background-color: var(--color-4);
}
.widget .widget-t3information-logo {
  filter: contrast(0);
}

.extension-list .inactive {
  opacity: 0.5;
}
.extension-list .installed td .btn-default {
  background-color: transparent;
  border-color: transparent;
}

#typo3-extension-list .extension-icon {
  height: 24px;
  width: 24px;
}

.table > tbody > tr:nth-of-type(odd) {
  background: rgba(var(--rgb-color-2), 0.1);
}
.table > tbody > tr:hover {
  background: rgba(var(--rgb-color-2), 0.5);
}
.table > tbody > tr.installed {
  background: rgba(var(--rgb-color-2), 0.75);
}
.table > tbody > tr.installed td {
  background-color: transparent;
}
.table > tbody > tr.installed:hover {
  background: rgba(var(--rgb-color-2), 1);
}

[id=ext-backend-Modules-FileSystemNavigationFrame-index-php] .list-tree li:last-child:before, [id=ext-backend-Modules-FileSystemNavigationFrame-index-php] .list-tree-control > .fa:before {
  background: transparent;
}

.list-tree li.active > .list-tree-group:before {
  border: transparent;
}

.resource-tile {
  color: var(--color-5);
  background-color: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: var(--resource-tile-border-radius);
}

.property-grid .table > tbody > tr {
  background-color: transparent;
}

.property-grid .table .btn {
  background-color: transparent;
  border-color: transparent;
}

#t3-form-structure-panel #t3-form-navigation-component-tree-root-container.t3-form-root-element-selected,
#t3-form-structure-panel #t3-form-navigation-component-tree-root-container.t3-form-root-element-selected:hover,
#t3-form-structure-panel .tree li > .t3-form-form-element-selected,
#t3-form-structure-panel .tree li > .t3-form-form-element-selected:hover {
  border-color: transparent;
}

#t3-form-structure-panel #t3-form-navigation-component-tree-root-container:hover,
#t3-form-structure-panel .t3-form-form-element-selected,
#t3-form-structure-panel .t3-form-root-element-selected,
#t3-form-structure-panel .tree li > div:hover {
  border-color: transparent;
}

.form-section {
  background-color: transparent;
}

.t3-form-x-component {
  background: transparent;
}

#t3-form-structure-panel #t3-form-navigation-component-tree-root-container.t3-form-root-element-selected, #t3-form-structure-panel #t3-form-navigation-component-tree-root-container.t3-form-root-element-selected:hover, #t3-form-structure-panel .tree li > .t3-form-form-element-selected, #t3-form-structure-panel .tree li > .t3-form-form-element-selected:hover,
#t3-form-structure-panel #t3-form-navigation-component-tree-root-container:hover, #t3-form-structure-panel .t3-form-form-element-selected, #t3-form-structure-panel .t3-form-root-element-selected, #t3-form-structure-panel .tree li > div:hover {
  background-color: rgba(var(--rgb-color-2), 0.5);
}

form[name=statistic] select {
  padding: 5px;
}

/*tools settings Feature Toggles*/
.card {
  background-color: transparent;
}

/*install-tool-modal phpinfo*/
.install-tool-modal #phpinfo table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  background: transparent;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: rgb(0 0 0 / 0%);
}

.table-fit {
  border: none;
}

.table tbody > tr.success > td, .table tbody > tr.success th, .table tfoot > tr.success > td, .table tfoot > tr.success th, .table thead > tr.success > td, .table thead > tr.success th {
  background: transparent;
}
.table tbody > tr > td.success, .table tbody > tr th.success, .table tfoot > tr > td.success, .table tfoot > tr th.success, .table thead > tr > td.success, .table thead > tr th.success {
  background: transparent;
}
.table .warning {
  background: rgb(193, 125, 0) !important;
}
.table .danger {
  background: rgb(156, 0, 0) !important;
}
.table .btn-default.focus, .table .btn-default:focus,
.table .btn-default.focus,
.table .btn-default:focus {
  background: transparent;
  border-color: transparent;
}

:root {
  --pagemodule-grid-spacing: 0.5rem;
}

.t3-page-ce {
  overflow: visible;
}

.t3-page-ce-dropzone {
  transition: 0.25s all;
  scale: 1;
}
.t3-page-ce-dropzone.active.t3-page-ce-dropzone-possible {
  background-color: rgba(var(--rgb-color-8), 0.5);
  scale: 1 1.3;
}

.draggable-dragging {
  opacity: 0.9;
}

.svg-tree-element typo3-backend-form-selecttree-toolbar {
  background-color: transparent;
  padding: 0;
  border-bottom-color: var(--color-5);
}

.svg-tree-wrapper path.link {
  opacity: 0.5;
}

.svg-tree-element {
  border-color: var(--color-5);
}

.nav-tabs > li > a.nav-link:focus,
.nav-tabs > li > a.nav-link:hover,
.nav.nav-tabs > li:not(.nav-item) > a:focus:not(.nav-link),
.nav.nav-tabs > li:not(.nav-item) > a:hover:not(.nav-link) {
  color: rgb(255, 255, 255);
  background: transparent;
}

.panel {
  background-color: transparent;
}
.panel-default {
  --panel-border-color: rgba(var(--rgb-color-5),0.25);
}

.nav-tabs > li.has-validation-error > a.nav-link.active, .nav.nav-tabs > li.has-validation-error:not(.nav-item) > a.active:not(.nav-link) {
  background-color: transparent;
}

/**
views
 */
.treelist {
  --treelist-bg: transparent;
}
.treelist:before, .treelist ul:before {
  opacity: 0.2;
  bottom: calc(var(--treelist-item-line-height) / 5);
}
.treelist:before {
  top: var(--treelist-indentation);
}
.treelist-label {
  flex: 1 1 25%;
  display: inline-block;
  padding-right: 10px;
}
.treelist-group {
  display: flex;
  align-items: flex-start;
}
.treelist-value {
  display: block;
  padding-left: 10px;
  flex: 1 1 75%;
  font-weight: normal;
  white-space: pre;
  overflow: auto;
  max-height: 500px;
  resize: vertical;
}
.treelist-value::-webkit-resizer {
  background-image: linear-gradient(-45deg, white 20%, transparent 20%);
}
.treelist li {
  border-bottom: 1px solid rgba(245, 245, 245, 0.0901960784);
}
.treelist li:before {
  display: none;
}

.nav-tabs {
  background-color: transparent;
}
.nav-tabs > li > a:hover {
  color: white;
}

.help-teaser {
  margin-right: 5px;
}

select.form-control:not([multiple][size]):not(.form-select-no-siblings),
select.form-control:not([size]):not(.form-select-no-siblings),
select.form-control[size="1"]:not(.form-select-no-siblings) {
  width: 100%;
}

code {
  padding: 0;
  font-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

.icon-list {
  margin-top: 9px;
  border: none;
}
.icon-list img {
  width: 16px;
  height: auto;
}

input {
  border: none;
}

.input-group-addon, .input-group-text {
  color: rgba(var(--rgb-color-5), 0.5);
}

select {
  border: none;
}
select optgroup {
  font-weight: 700;
}

select option:checked {
  color: var(--color-8);
}

.form-section {
  border: none;
  border-bottom: 1px solid rgba(var(--rgb-color-5), 0.25);
  padding: 15px 12px 3px;
}
.form-section + .form-section {
  margin-top: 0;
}

.input-group-addon, .input-group-text {
  background-color: transparent;
}

.form-control, .form-select {
  background: transparent;
  color: var(--color-5);
}
.form-control:focus, .form-select:focus {
  outline: 0;
  box-shadow: none;
  background: rgba(var(--rgb-color-2), 0.25);
  color: var(--color-5);
}
.form-control:disabled, .form-select:disabled {
  opacity: 0.25;
}

.form-select {
  background-image: url("/typo3conf/ext/skins/Resources/Public/Backend/Style/Skin/Dark/Icons/actions-chevron-down.svg");
  background-color: transparent;
  color: var(--color-5);
  background-repeat: no-repeat;
  background-position: right;
}
.form-select option {
  background-color: var(--color-2);
}

.input-group-addon {
  border: none;
}

input[type=submit] {
  border: 1px solid;
}

.form-inline-spaced {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

body .pagination > .disabled > a,
body .pagination > .disabled > a:focus,
body .pagination > .disabled > a:hover,
body .pagination > .disabled > span,
body .pagination > .disabled > span:focus,
body .pagination > .disabled > span:hover {
  cursor: not-allowed;
  border-color: transparent;
}
body .pagination > li > span, body .pagination > li > a {
  border: transparent;
}
body .pagination > li > span:focus, body .pagination > li > span:hover, body .pagination > li > span:focus, body .pagination > li > span:hover, body .pagination > li > a:focus, body .pagination > li > a:hover, body .pagination > li > a:focus, body .pagination > li > a:hover {
  border: transparent;
}

.recordlist {
  box-shadow: none;
  background: transparent;
}

.t3-page-ce .t3-page-ce-header {
  border-bottom: none;
  transition: none;
}
.t3-page-ce:hover .t3-page-ce-header {
  background: initial;
}

.element-browser-attributes {
  background-color: transparent;
}

.nav-link {
  border: 1px solid rgba(var(--rgb-color-5), 0.5);
}
.nav-link a {
  border: none;
  box-shadow: none !important;
}
.nav-link.active {
  --bs-nav-pills-link-active-bg: transparent;
  --bs-nav-pills-link-active-color: var(--color-5);
  border: 1px solid rgba(var(--rgb-color-5), 1);
}
.nav-link:hover {
  color: var(--color-5);
  border: 1px solid rgba(var(--rgb-color-5), 1);
}

.element-browser-main-sidebar .list-tree-control > .fa:before {
  background-color: rgba(0, 0, 0, 0);
}

.element-browser-main-sidebar .list-tree li:last-child:before {
  background-color: rgba(0, 0, 0, 0);
}

.modal-severity-notice .modal-header {
  border: none;
}

.list-tree li:last-child:before {
  background: rgba(0, 0, 0, 0);
}

.modal-severity-warning .modal-header {
  background-color: var(--color-1);
  border-bottom-color: transparent;
}

.scaffold-modulemenu {
  background-color: var(--color-7);
}

.topbar-button.topbar-button-modulemenu,
.scaffold-modulemenu-expanded .topbar-button.topbar-button-modulemenu {
  background-color: var(--color-7);
}

.module-docheader {
  border-bottom: 1px solid rgba(245, 245, 245, 0.3);
}

.dashboard-header {
  background: transparent;
}

.nav-tabs > li > a.nav-link.active, .nav.nav-tabs > li:not(.nav-item) > a.active:not(.nav-link) {
  background-color: transparent;
  border-bottom: var(--module-bg);
}

.svg-tree-wrapper {
  overflow-y: auto;
}
.svg-tree-wrapper .node-selected {
  fill: transparent;
}
.svg-tree-wrapper .nodes-wrapper--dragging .node-over {
  fill: transparent !important;
}
.svg-tree-wrapper .node-over:not(.node-selected) {
  fill: transparent;
}

.scaffold-content-navigation-component .navigation-tree-container,
[id=ext-backend-Modules-FileSystemNavigationFrame-index-php],
[id=ext-backend-Modules-FileSystemNavigationFrame-index-php] .module-body,
[id=typo3-pagetree-treeContainer] {
  border-right: none;
}

.scaffold-content-navigation-component .navigation-tree-container {
  background-color: var(--color-2);
}

.tree-toolbar input[type=search] {
  background: transparent;
}

.scaffold-content-navigation-available .scaffold-content-navigation-switcher {
  background: var(--module-docheader-bg);
}

.statusreport {
  --statusreport-bg: var(--color-4);
  --statusreport-color: var(--color-5);
}

.svg-toolbar .svg-toolbar__drag-node {
  border: 1px solid transparent;
}

.scaffold-topbar {
  background-color: rgb(21, 21, 21);
}

.dropdown-menu a:not([class]) {
  --typo3-component-link-color: var(--color-8);
}

.table {
  --bs-table-bg: transparent;
}

/*# sourceMappingURL=style.css.map */
