<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="dropdown-inner-wrap">
    <div class="header">
        <h3 class="dropdown-headline">{f:translate(key:
            'LLL:EXT:skins/Resources/Private/Language/locallang.xlf:tx_skins.toolbar.dropdown.headline')}</h3>
        <div class="save-wrap">
                    <span class="save-skin-settings">
                        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.7 1H1.5c-.3 0-.5.2-.5.5v13c0 .3.2.5.5.5h13c.3 0 .5-.2.5-.5V5.4c0-.5-.2-1-.6-1.4L12 1.6c-.3-.4-.8-.6-1.3-.6zM7.3 2h1.5c.1 0 .2.1.2.3v2.5c0 .1-.1.2-.2.2H7.3c-.2 0-.3-.1-.3-.2V2.3c0-.2.1-.3.3-.3zM11 14H5v-3.8c0-.1.1-.2.3-.2h5.5c.1 0 .3.1.3.3V14H11zm3 0h-2V9.5c0-.3-.2-.5-.5-.5h-7c-.3 0-.5.2-.5.5V14H2V2h2v3.5c0 .3.2.5.5.5h5c.3 0 .5-.2.5-.5V2h.8c.3 0 .5.1.7.3l1.9 2c.4.4.6.9.6 1.4V14z"></path>
                        </svg>
                        <f:format.case mode="upper">{f:translate(key: 'LLL:EXT:skins/Resources/Private/Language/locallang.xlf:tx_skins.toolbar.dropdown.save')}</f:format.case></span>
        </div>
    </div>
    <div class="row-wrap color-picker-wrap">
        <div class="color-section-header">
            <label for="tx_skins_active">{f:translate(key:'LLL:EXT:skins/Resources/Private/Language/locallang.xlf:tx_skins.toolbar.dropdown.toggle_custom_skin')}</label>
        </div>
        <div class="color-box">
            <div class="color-box-item">
                <div class="row-wrap checkbox checkbox-type-toggle custom-skin-change-trigger">
                    <input class="checkbox-input" id="tx_skins_active" type="checkbox" value="0">
                    <label class="checkbox-label" for="tx_skins_active">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row-wrap color-picker-wrap">
        <div class="color-section-header">
            <label>{f:translate(key:'LLL:EXT:skins/Resources/Private/Language/locallang.xlf:tx_skins.toolbar.dropdown.main_menue')}</label>
        </div>
        <div class="color-box">
            <div class="color-box-item">
                <label for="color-main-menue-background">Background</label>
                <input class="colorpicker-input" id="color-main-menue-background" type="color"/>
            </div>
            <div class="color-box-item">
                <label for="color-main-menue-color">Text</label>
                <input class="colorpicker-input" id="color-main-menue-color" type="color"/>
            </div>
            <div class="color-box-item">
                <label for="color-main-menue-border">Border</label>
                <input class="colorpicker-input" id="color-main-menue-border" type="color"/>
            </div>
        </div>
    </div>
    <div class="row-wrap color-picker-wrap">
        <div class="color-section-header">
            <label>{f:translate(key:'LLL:EXT:skins/Resources/Private/Language/locallang.xlf:tx_skins.toolbar.dropdown.pagetree')}</label>
        </div>
        <div class="color-box">
            <div class="color-box-item">
                <label for="color-pagetree-background">Background</label>
                <input class="colorpicker-input" id="color-pagetree-background" type="color"/>
            </div>
            <div class="color-box-item">
                <label for="color-pagetree-color">Text</label>
                <input class="colorpicker-input" id="color-pagetree-color" type="color"/>
            </div>
            <div class="color-box-item">
                <label for="color-pagetree-border">Border</label>
                <input class="colorpicker-input" id="color-pagetree-border" type="color"/>
            </div>
        </div>
    </div>
    <div class="row-wrap color-picker-wrap">
        <div class="color-section-header">
            <label>{f:translate(key:'LLL:EXT:skins/Resources/Private/Language/locallang.xlf:tx_skins.toolbar.dropdown.color_module')}</label>
        </div>
        <div class="color-box">
            <div class="color-box-item">
                <label for="color-module-background">Background</label>
                <input class="colorpicker-input" id="color-module-background" type="color"/>
            </div>
            <div class="color-box-item">
                <label for="color-module-color">Text</label>
                <input class="colorpicker-input" id="color-module-color" type="color"/>
            </div>
            <div class="color-box-item">
                <label for="color-module-border">Border</label>
                <input class="colorpicker-input" id="color-module-border" type="color"/>
            </div>
        </div>
    </div>
    <div class="row-wrap color-picker-wrap">
        <div class="color-section-header">
            <label>{f:translate(key:'LLL:EXT:skins/Resources/Private/Language/locallang.xlf:tx_skins.toolbar.dropdown.color_topbar')}</label>
        </div>
        <div class="color-box">
            <div class="color-box-item">
                <label for="color-module-background">Background</label>
                <input class="colorpicker-input" id="color-topbar-background" type="color"/>
            </div>
            <div class="color-box-item">
                <label for="color-topbar-color">Text</label>
                <input class="colorpicker-input" id="color-topbar-color" type="color"/>
            </div>
            <div class="color-box-item">
                <label for="color-topbar-border">Border</label>
                <input class="colorpicker-input" id="color-topbar-border" type="color"/>
            </div>
        </div>
    </div>
    <div class="row-wrap color-picker-wrap">
        <div class="color-section-header">
            <label for="color-highlight">{f:translate(key:'LLL:EXT:skins/Resources/Private/Language/locallang.xlf:tx_skins.toolbar.dropdown.color_highlight')}</label>
        </div>
        <div class="color-box">
            <div class="color-box-item">
                <input class="colorpicker-input" id="color-highlight" type="color"/>
            </div>
        </div>
    </div>
    <div class="row-wrap color-picker-wrap">
        <div class="color-section-header">
            <label for="color-scrollbar">{f:translate(key:'LLL:EXT:skins/Resources/Private/Language/locallang.xlf:tx_skins.toolbar.dropdown.color_scrollbar')}</label>
        </div>
        <div class="color-box">
            <div class="color-box-item">
                <input class="colorpicker-input" id="color-scrollbar" type="color"/>
            </div>
        </div>
    </div>
    <div class="row-wrap color-picker-wrap">
        <div class="color-section-header">
            <label for="color-icon">{f:translate(key:'LLL:EXT:skins/Resources/Private/Language/locallang.xlf:tx_skins.toolbar.dropdown.color_icon')}</label>
        </div>
        <div class="color-box">
            <div class="color-box-item">
                <input class="colorpicker-input" id="color-icon" type="color"/>
            </div>
        </div>
    </div>
</div>

</html>
