/**
menue
 */
.scaffold-modulemenu {
  --scaffold-modulemenu-bg: var(--color-main-menue-background);
}
.scaffold-header {
  --scaffold-header-bg: var(--color-topbar-background);
}
.modulemenu-action.modulemenu-action-active:not(:has(~ul.collapse.show)) {
  --typo3-state-default-focus-bg: var(--color-main-menue-background);
}
.modulemenu-action:focus-visible, .modulemenu-action:hover {
  --typo3-state-default-focus-bg: var(--color-main-menue-background);
  --typo3-state-default-hover-bg: var(--color-main-menue-background);
}
.open .toolbar-item-link, .toolbar-item-link.show, .toolbar-item-link:focus, .toolbar-item-link:hover {
  --typo3-state-default-focus-bg: transparent;
  --toolbar-item-link-bg-state: var(--typo3-state-default-focus-bg);
}

/**
page tree
 */
.tree-toolbar {
  --module-docheader-bg: var(--color-pagetree-background);
}
.scaffold-content {
  --scaffold-bg: var(--color-pagetree-background);
}
.nodes-container, .nodes-loader {
  --tree-bg: var(--color-pagetree-background);
}
.node {
  --tree-node-bg: var(--color-pagetree-background);
}

/**
module
 */
.module-docheader {
  --module-docheader-bg: var(--color-module-background);
}
.module {
  --module-bg: var(--color-module-background);
}
.t3-grid-cell {
  --pagemodule-grid-cell-bg: transparent;
}
.t3-grid-container {
  background-color: hsl(
                  calc(var(--h-color-module-background) + 20)
                  calc(var(--s-color-module-background) + 5%)
                  calc(var(--l-color-module-background) + 5%)
  );
}

/**
element
 */
.t3-page-ce-element {
  --pagemodule-element-bg: rgba(var(--rgb-color-element-background),1);
}

/**
button
 */
.btn-default {
  --typo3-state-default-disabled-bg: var(--color-button-background);
  --typo3-state-default-focus-bg: var(--color-button-background);
  --typo3-state-default-hover-bg: var(--color-button-background);
  --typo3-state-default-bg: var(--color-button-background);
}
